[submodule "webserver/ZheQuant-webserver-backend"]
	path = webserver/ZheQuant-webserver-backend
	url = https://github.com/feng-zhe/ZheQuant-webserver-backend.git
[submodule "admin/ZheQuant-admin-console"]
	path = admin/ZheQuant-admin-console
	url = https://github.com/feng-zhe/ZheQuant-admin-console.git
[submodule "pbrain/ZheQuant-brain-python"]
	path = pbrain/ZheQuant-brain-python
	url = https://github.com/feng-zhe/ZheQuant-brain-python.git
